body{
    margin: 0;
}
.base{
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.card{
    height: 500px;
    width: 300px;
    background-color: white;
    display: flex;
    margin-top: 90px;
    flex-direction: column;
    border: 2px solid black;


}
.main-text{
    font-size: 40px;
    color: black;
    margin-left: 33.33%;
    margin-top: 60px;
    display: flex;
}

.round{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: white;
    position: relative;
    bottom: 190px;
    left: 33.33%;
    display: flex;
    border: 2px solid black;
}
.text{
    text-align: center;
}
.learn-box{
    width: 200px;
    height: 100px;
    background: white;
    margin-top: 100px;
    margin-left: 50px;
    border: 2px solid black;
}
.learn-text{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;

}
.fa-building-columns{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

